<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Organizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Organizer.Properties.Settings>
            <setting name="RecentFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="SpecialEntries" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowSpecialEntriesToolbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultFontName" serializeAs="String">
                <value>Microsoft Sans Serif</value>
            </setting>
            <setting name="DefaultFontSize" serializeAs="String">
                <value>8.5</value>
            </setting>
        </Organizer.Properties.Settings>
    </userSettings>
</configuration>